#
# pin constraints
#
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET RESET LOC = "AE24"  |  IOSTANDARD = "LVCMOS33"  |  TIG;

NET CLK_N LOC = "AF14"  |  IOSTANDARD = "LVDS_33";
NET CLK_P LOC = "AD14"  |  IOSTANDARD = "LVDS_33";

#NET buzzer_per_0_out_pwm_pin LOC = "N24"  |  IOSTANDARD = "LVCMOS33";
NET buzzer_per_0_out_pwm_pin LOC = "C5"  |  IOSTANDARD = "LVCMOS33";
